
html, body, #body {
	background: #000000;
	margin: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
}


.message-box {
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
}
.message-box .message {
    border: 5px solid #FFFFFF;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 153%;
    font-weight: bold;
    padding: 1% 5%;
    text-transform: uppercase;
}
.message-box.install {
    left: 13%;
    top: 43%;
}
.message-box.skip {
    left: 61%;
    top: 57%;
}
.message-box.install .message {
    background: none repeat scroll 0 0 #B3C675;
    box-shadow: 0 0 25px #4A5D0C inset, 0 0 6px #4A5D0C;
}
.message-box.skip .message {
    background: none repeat scroll 0 0 #F7E9B2;
    box-shadow: 0 0 25px #93854E inset, 0 0 6px #4A5D0C;
}